<!DOCTYPE html>
<html>
  <head>
    <title>Talks</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <h1 class="header-title"><%= link_to 'Talks', talks_top_path %></h1>
      </div>
      <nav>
        <ul class="header-link">
          <li><%= link_to '聞く', talks_path %></li>
          <li><%= link_to '話す', new_talk_path %></li>
        </ul>
      </nav>
    </header>
    <article>
    <%= yield %>
    </article>
    <footer>
      <p>test application</p>
    </footer>
  </body>
</html>
